<div class="container text-center mt-5">
    <h2>¡Registro exitoso! Ahora elige tu plan</h2>
    <div class="row mt-4">
        <div class="col-md-4">
            <div class="card p-4">
                <h4>Perder Peso</h4>
                <a asp-action="GuardarPlan" asp-route-plan="PerderPeso" class="btn btn-primary">Elegir</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card p-4">
                <h4>Ganar Músculo</h4>
                <a asp-action="GuardarPlan" asp-route-plan="GanarMusculo" class="btn btn-primary">Elegir</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card p-4">
                <h4>Mantenerse</h4>
                <a asp-action="GuardarPlan" asp-route-plan="GanarMusculo" class="btn btn-primary">Elegir</a>
            </div>
        </div>

    </div>
</div>